---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Discover books you’ll love!">
  <section class="relative mt-32 overflow-hidden">
    <div
      class="container mx-auto flex max-w-screen-xl flex-col items-center px-12 text-center"
    >
      <h1 class="mb-6 font-arvo text-[42px] leading-[34px]">
        Discover books you’ll love!
      </h1>
      <p class="max-w-[636px] text-base leading-6">
        Enter a book you like and the site will analyse our huge database of
        real readers' favorite books to provide book recommendations and
        suggestions for what to read next.
      </p>
    </div>

    <section class="relative flex w-full scale-110 items-center gap-6">
      <div
        id="overlay"
        class="absolute left-0 top-0 z-50 h-full w-full bg-gradient-to-t from-stone-300 to-stone-50/25"
      >
      </div>

      <section class="-mb-24 flex w-full items-center gap-6">
        <div class="flex w-1/5 flex-col items-start gap-6">
          <div class="relative h-auto w-full">
            <img
              class="h-full w-full object-cover object-top"
              src={`/book-photo-${1}.png`}
              alt={`Book Photo ${1}`}
            />
          </div>
          <div class="relative h-auto w-full">
            <img
              class="h-full w-full object-cover object-top"
              src={`/book-photo-${2}.png`}
              alt={`Book Photo ${2}`}
            />
          </div>
        </div>

        <div class="mt-32 flex w-1/5 flex-col items-start gap-6">
          <div class="relative h-auto w-full">
            <img
              class="h-full w-full object-cover object-top"
              src={`/book-photo-${3}.png`}
              alt={`Book Photo ${3}`}
            />
          </div>
          <div class="relative h-auto w-full">
            <img
              class="h-full w-full object-cover object-top"
              src={`/book-photo-${4}.png`}
              alt={`Book Photo ${4}`}
            />
          </div>
        </div>

        <div class="mt-56 flex w-1/5 flex-col items-start gap-6">
          <div class="relative h-auto w-full">
            <img
              class="h-full w-full object-cover object-top"
              src={`/book-photo-${5}.png`}
              alt={`Book Photo ${5}`}
            />
          </div>
          <div class="relative h-auto w-full">
            <img
              class="h-full w-full object-cover object-top"
              src={`/book-photo-${6}.png`}
              alt={`Book Photo ${6}`}
            />
          </div>
        </div>

        <div class="mt-32 flex w-1/5 flex-col items-start gap-6">
          <div class="relative h-auto w-full">
            <img
              class="h-full w-full object-cover object-top"
              src={`/book-photo-${7}.png`}
              alt={`Book Photo ${7}`}
            />
          </div>
          <div class="relative h-auto w-full">
            <img
              class="h-full w-full object-cover object-top"
              src={`/book-photo-${8}.png`}
              alt={`Book Photo ${8}`}
            />
          </div>
        </div>

        <div class="flex w-1/5 flex-col items-start gap-6">
          <div class="relative h-auto w-full">
            <img
              class="h-full w-full object-cover object-top"
              src={`/book-photo-${9}.png`}
              alt={`Book Photo ${9}`}
            />
          </div>
          <div class="relative h-auto w-full">
            <img
              class="h-full w-full object-cover object-top"
              src={`/book-photo-${10}.png`}
              alt={`Book Photo ${10}`}
            />
          </div>
        </div>
      </section>
    </section>

    <section class="relative w-full bg-[#F9F8F6] py-24">
      <div class="container mx-auto max-w-screen-xl px-12">
        <h3 class="mb-20 text-center font-arvo text-[34px] leading-none">
          Benefit Jari Telunjuk
        </h3>

        <section class="grid grid-cols-4 gap-12">
          <figure class="space-y-10">
            <img src="/benefit-1.png" alt="Benefit 1" />
            <figcaption class="text-base leading-6">
              Rekomendasi buku berdasarkan selera/ kebutuhan
            </figcaption>
          </figure>

          <figure class="space-y-10">
            <img src="/benefit-2.png" alt="Benefit 2" />
            <figcaption class="text-base leading-6">
              Tracking buku apa saja yang Anda baca, sudah dibaca ataupun akan
              dibaca.
            </figcaption>
          </figure>

          <figure class="space-y-10">
            <img src="/benefit-3.png" alt="Benefit 3" />
            <figcaption class="text-base leading-6">
              Berbagi daftar buku favorit atau buku yang akan Anda baca dengan
              teman ataupun komunitas
            </figcaption>
          </figure>

          <figure class="space-y-10">
            <img src="/benefit-4.png" alt="Benefit 4" />
            <figcaption class="text-base leading-6">
              Daftar buku ter-update
            </figcaption>
          </figure>
        </section>
      </div>
    </section>

    <section class="relative w-full bg-white py-24">
      <div class="container mx-auto max-w-screen-xl space-y-20 px-12">
        <header class="mb-7 space-y-6 text-center">
          <h3 class="font-arvo text-[34px] leading-none">
            Benefit Jari Telunjuk
          </h3>
          <p>Because Bedul liked...</p>
        </header>

        <div class="relative grid w-full grid-cols-4 gap-16">
          <svg
            class="absolute -bottom-20 -z-0 h-auto w-full"
            viewBox="0 0 817 279"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2.25 88.548C18.6561 87.0002 35.0363 79.3796 49.8038 72.5171C71.9385 62.2309 94.9469 53.1585 118.104 45.4397C160.246 31.3922 203.405 21.7266 247.294 15.2638C327.106 3.51128 405.288 2.46607 485.737 2.46607C562.456 2.46607 659.272 2.36093 730.039 34.5279C749.98 43.5917 769.268 54.4089 786.148 68.4757C798.389 78.6766 812.808 93.1981 814.505 110.169C816.466 129.786 781.471 131.197 769.308 131.926C689.676 136.694 614.124 136.049 534.368 130.04C514.218 128.522 452.316 110.169 415 144.5C391.5 166.12 387 208.5 408 276.5"
              stroke="#242424"
              stroke-opacity="0.8"
              stroke-width="4"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>

          <figure class="relative h-96 w-full shadow-2xl">
            <img
              class="h-full w-full object-cover"
              src="/book-photo-1.png"
              alt="Book 1"
            />
          </figure>
          <figure class="relative h-96 w-full shadow-2xl">
            <img
              class="h-full w-full object-cover"
              src="/book-photo-2.png"
              alt="Book 2"
            />
          </figure>
          <figure class="relative h-96 w-full shadow-2xl">
            <img
              class="h-full w-full object-cover"
              src="/book-photo-3.png"
              alt="Book 3"
            />
          </figure>
          <figure class="relative h-96 w-full shadow-2xl">
            <img
              class="h-full w-full object-cover"
              src="/book-photo-4.png"
              alt="Book 4"
            />
          </figure>
        </div>

        <div class="relative flex w-full flex-col items-center pt-4">
          <svg
            class="h-24 w-24"
            viewBox="0 0 102 102"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_14_34)">
              <path
                d="M47.449 100.965C48.1387 102.345 50.3802 102.345 51.0699 100.965C56.9322 90.2754 62.2772 79.4128 65.3808 67.6882C65.7257 65.964 63.829 64.2398 62.2772 65.2743C58.8288 67.6882 55.8977 70.6194 53.3114 74.0678C54.001 49.9289 57.277 24.9278 51.5871 1.13372C51.2423 -0.590493 48.3114 -0.24566 48.4838 1.47883C51.5871 26.135 49.1732 50.6188 48.8287 75.275C45.8975 72.6887 42.9664 70.1024 40.2076 67.5161C39.0007 66.3091 36.4141 66.9988 36.5865 69.0679C37.9662 80.4474 41.7594 91.1375 47.449 100.965ZM49.3457 80.4474C50.3802 81.9992 53.3114 81.6543 53.3114 79.2404C53.3114 79.068 53.3114 78.8956 53.3114 78.8956C55.3804 76.8265 57.277 74.7575 59.5185 72.6884C56.7598 80.6198 53.3113 88.0339 49.3459 95.448C45.8975 88.7236 43.3112 81.8267 41.9318 74.4126C43.8285 76.1368 45.8975 77.8611 47.7944 79.7577C48.1387 80.4474 48.8287 80.6198 49.3457 80.4474Z"
                fill="#242424"></path>
            </g>
            <defs>
              <clipPath id="clip0_14_34">
                <rect
                  width="102"
                  height="102"
                  fill="white"
                  transform="translate(102 102) rotate(-180)"></rect>
              </clipPath>
            </defs>
          </svg>

          <h5 class="my-4 text-center text-lg font-semibold leading-[22px]">
            He Discovered:
          </h5>

          <figure class="mb-10 flex items-center justify-center gap-10">
            <div class="mt-16 max-w-[180px] space-y-1.5 self-start text-right">
              <h5 class="text-lg font-semibold leading-6">
                I Used To Be A Miserable F*ck
              </h5>
              <p class="text-base font-normal leading-6">JOHN KIM~</p>
            </div>

            <img
              class="h-96 w-auto shadow-2xl"
              src="/book-photo-5.png"
              alt="Book 8"
            />

            <div class="mb-16 max-w-[180px] self-end">
              <h5 class="text-lg font-semibold leading-6">
                Steam Punk, Science, Fiction, Fantasy
              </h5>
            </div>
          </figure>

          <a
            href="/"
            class="flex w-60 items-center justify-center rounded-full bg-[#128C55] px-6 py-4 font-bold text-white transition-all duration-300 ease-out hover:bg-[#128C55]/90"
          >
            Coba Rekomendasi Buku
          </a>
        </div>
      </div>
    </section>

    <section class="relative w-full py-24">
      <div class="container mx-auto max-w-screen-xl space-y-20 px-12">
        <h3 class="text-center font-arvo text-[34px] leading-none">
          Benefit Jari Telunjuk
        </h3>

        <div class="grid grid-cols-3 gap-5">
          <a href="/">
            <figure
              class="w-full rounded-lg border border-[#DCDCDC] bg-white shadow-none transition-all duration-300 ease-out hover:shadow-md"
            >
              <img
                class="aspect-video h-auto w-full"
                src="/blog-1.png"
                alt="Blog 1"
              />

              <div class="w-full p-5">
                <h5
                  class="mb-5 text-xl font-semibold leading-[26px] text-[#2e2e2e]"
                >
                  A conversation with Marjan Kamali
                </h5>

                <p class="mb-8 leading-5 text-[#515151]">
                  In her second novel, The Stationery Shop, Marjan Kamali weaves
                  a heartbreaking tale
                </p>

                <p class="leading-5 text-[#2e2e2e]">
                  <span>Reza Adil</span> - <span>25 Januari 2021</span>
                </p>
              </div>
            </figure>
          </a>

          <a href="/">
            <figure
              class="w-full rounded-lg border border-[#DCDCDC] bg-white shadow-none transition-all duration-300 ease-out hover:shadow-md"
            >
              <img
                class="aspect-video h-auto w-full"
                src="/blog-1.png"
                alt="Blog 1"
              />

              <div class="w-full p-5">
                <h5
                  class="mb-5 text-xl font-semibold leading-[26px] text-[#2e2e2e]"
                >
                  A conversation with Marjan Kamali
                </h5>

                <p class="mb-8 leading-5 text-[#515151]">
                  In her second novel, The Stationery Shop, Marjan Kamali weaves
                  a heartbreaking tale
                </p>

                <p class="leading-5 text-[#2e2e2e]">
                  <span>Reza Adil</span> - <span>25 Januari 2021</span>
                </p>
              </div>
            </figure>
          </a>

          <a href="/">
            <figure
              class="w-full rounded-lg border border-[#DCDCDC] bg-white shadow-none transition-all duration-300 ease-out hover:shadow-md"
            >
              <img
                class="aspect-video h-auto w-full"
                src="/blog-1.png"
                alt="Blog 1"
              />

              <div class="w-full p-5">
                <h5
                  class="mb-5 text-xl font-semibold leading-[26px] text-[#2e2e2e]"
                >
                  A conversation with Marjan Kamali
                </h5>

                <p class="mb-8 leading-5 text-[#515151]">
                  In her second novel, The Stationery Shop, Marjan Kamali weaves
                  a heartbreaking tale
                </p>

                <p class="leading-5 text-[#2e2e2e]">
                  <span>Reza Adil</span> - <span>25 Januari 2021</span>
                </p>
              </div>
            </figure>
          </a>
        </div>

        <div class="flex w-full justify-center">
          <a
            href="/"
            class="flex w-60 items-center justify-center rounded-full bg-[#128C55] px-6 py-4 font-bold text-white transition-all duration-300 ease-out hover:bg-[#128C55]/90"
          >
            Semua Blog
          </a>
        </div>
      </div>
    </section>
  </section>
</Layout>

<style>
  #overlay {
    background: linear-gradient(
      180deg,
      rgba(249, 248, 246, 0) 0%,
      #f9f8f6 100%
    );
  }
</style>
