<script>
  const header = document.querySelector(".Header");
  console.log(window.location.pathname);
  document.addEventListener("scroll", () => {
    if (window.scrollY > 160) {
      header.classList.remove("border-transparent");
      header.classList.add("border-b-gray-50", "bg-white", "shadow-sm");
    } else if (window.location.pathname == "/detail" && window.scrollY > 10) {
      header.classList.remove("border-transparent");
      header.classList.add("border-b-gray-50", "bg-white", "shadow-sm");
    } else {
      header.classList.remove("border-b-gray-50", "bg-white", "shadow-sm");
      header.classList.add("border-transparent");
    }
  });
</script>

<header
  class="Header fixed inset-0 z-50 flex h-20 w-full border-b border-transparent transition-all duration-300 ease-out"
>
  <div
    class="container mx-auto flex max-w-screen-xl items-center justify-between px-12"
  >
    <nav class="flex items-center gap-8">
      <a class="text-xl" href="/">
        jari<span class="font-bold">telunjuk--</span>
      </a>

      <div class="relative w-72">
        <input
          class="w-full rounded-full border border-[#DEDEDE] px-6 py-2 text-sm text-[#2e2e2e] outline-none ring-2 ring-transparent placeholder:text-[#DEDEDE] focus:border-stone-300 focus:ring-[#DEDEDE]/25"
          type="text"
          placeholder="Cari buku..."
        />
      </div>
    </nav>

    <nav class="flex items-center gap-6">
      <div class="flex items-center gap-8">
        <a class="text-base leading-5" href="/">About</a>
        <a class="text-base leading-5" href="/">Blog</a>
        <a class="text-base leading-5" href="/">Sign In</a>
      </div>

      <a
        href="/"
        class="rounded-full bg-[#128C55] px-5 py-2 font-bold leading-5 text-white hover:bg-[#128C55]/90"
      >
        Sign Up
      </a>
    </nav>
  </div>
</header>
